In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Export-Sale Orders-kiwikisan_23072025214022 (1).csv")

In [3]:
df.head()

,Sale Order Item Code,Display Order Code,Reverse Pickup Code,Reverse Pickup Created Date,Reverse Pickup Reason,Notification Email,Notification Mobile,Require Customization,COD,Shipping Address Id,...,Box Height(mm),Putaway Code,Putaway Status,Return Invoice,Picklist Code,Reverse Pickup Tracking Number,Shelf,Shipment Batch Code,Channel Shipping,Item Details
0,15913794797843-0,#9640KKWS,NaN,NaN,NaN,rastogirahul0461@gmail.com,8.958537e+09,False,1,2167910,...,NaN,PT0085,COMPLETE,ISR0058,PK113,NaN,LSB3-P-31-L2-04,NaN,False,NaN
1,15913794797843-1,#9640KKWS,NaN,NaN,NaN,rastogirahul0461@gmail.com,8.958537e+09,False,1,2167910,...,NaN,PT0085,COMPLETE,ISR0058,PK113,NaN,LSB3-P-31-L2-04,NaN,False,NaN
2,`15913796665619,#9641KKWS,NaN,NaN,NaN,aloke.gupta@aol.in,9.810184e+09,False,0,2167912,...,NaN,NaN,NaN,NaN,PK112,NaN,LSB3-P-31-L2-04,NaN,False,NaN
3,15913818456339-0,#9642KKWS,NaN,NaN,NaN,sunilchadha539@gmail.com,9.811087e+09,False,0,2168128,...,NaN,NaN,NaN,NaN,PK113,NaN,LSB3-P-27-L2-01,NaN,False,NaN
4,15913818456339-1,#9642KKWS,NaN,NaN,NaN,sunilchadha539@gmail.com,9.811087e+09,False,0,2168128,...,NaN,NaN,NaN,NaN,PK113,NaN,LSB3-P-27-L2-01,NaN,False,NaN

In [1]:
df.shape

NameError: name 'df' is not defined

In [5]:
df.columns

Index(['Sale Order Item Code', 'Display Order Code', 'Reverse Pickup Code',
       'Reverse Pickup Created Date', 'Reverse Pickup Reason',
       'Notification Email', 'Notification Mobile', 'Require Customization',
       'COD', 'Shipping Address Id',
       ...
       'Box Height(mm)', 'Putaway Code', 'Putaway Status', 'Return Invoice',
       'Picklist Code', 'Reverse Pickup Tracking Number', 'Shelf',
       'Shipment Batch Code', 'Channel Shipping', 'Item Details'],
      dtype='object', length=147)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3664 entries, 0 to 3663
Columns: 147 entries, Sale Order Item Code to Item Details
dtypes: bool(5), float64(59), int64(14), object(69)
memory usage: 4.0+ MB

In [7]:
df.isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3664 entries, 0 to 3663
Columns: 147 entries, Sale Order Item Code to Item Details
dtypes: bool(5), float64(59), int64(14), object(69)
memory usage: 4.0+ MB

In [8]:
df=df.dropna(axis=1,thresh=len(df)*0.1)

In [9]:
df.select_dtypes(include=np.number).columns

Index(['Notification Mobile', 'COD', 'Shipping Address Id',
       'Shipping Address Pincode', 'Shipping Address Latitude',
       'Shipping Address Longitude', 'Billing Address Id',
       'Billing Address Pincode', 'Billing Address Latitude',
       'Billing Address Longitude', 'HSN Code', 'MRP', 'Total Price',
       'Selling Price', 'Cost Price', 'Prepaid Amount', 'Subtotal', 'Discount',
       'CGST', 'IGST', 'SGST', 'UTGST', 'CESS', 'CGST Rate', 'IGST Rate',
       'SGST Rate', 'UTGST Rate', 'CESS Rate', 'TCS Amount',
       'Shipping Charges', 'Shipping Method Charges', 'COD Service Charges',
       'Gift Wrap Charges', 'Packet Number', 'Priority',
       'Currency Conversion Rate', 'Length(mm)', 'Width(mm)', 'Height(mm)',
       'Weight', 'Adjustment In Selling Price', 'Adjustment In Discount',
       'Store Credit', 'Item Type EAN'],
      dtype='object')

In [10]:
df[df.select_dtypes(include=np.number).columns]=df.select_dtypes(include=np.number).fillna(df.select_dtypes(include=np.number).mean())

In [11]:
df.isnull().sum().sort_values(ascending=False).head(20)

Billing Address Line 2      1643
Shipping Address Line 2     1624
Combination Identifier      1568
Combination Description     1568
Bundle SKU Code Number      1568
Delivery Time               1311
Shipping Courier             642
Shipping Tracking Status     574
Shipping Courier Status      574
tags                         545
Dispatch Date                207
Tracking Number              201
Shipping provider            201
Batch Code                   199
Vendor Batch Number          199
Invoice Created              196
GSTIN                        196
Invoice Code                 196
Picklist Code                196
Shelf                        196
dtype: int64

In [12]:
df=df.dropna(axis=1,how="all")

In [13]:
df["Shelf"]=df["Shelf"].fillna("unkonwn")

In [14]:
df.isnull().sum().sort_values(ascending=False).head(20)

Billing Address Line 2            1643
Shipping Address Line 2           1624
Combination Identifier            1568
Combination Description           1568
Bundle SKU Code Number            1568
Delivery Time                     1311
Shipping Courier                   642
Shipping Tracking Status           574
Shipping Courier Status            574
tags                               545
Dispatch Date                      207
Shipping provider                  201
Tracking Number                    201
Batch Code                         199
Vendor Batch Number                199
GSTIN                              196
Invoice Code                       196
Picklist Code                      196
Invoice Created                    196
Shipping Package Creation Date      78
dtype: int64

In [15]:
df["Billing Address Line 2"]=df["Billing Address Line 2"].fillna("not provided")
df["Shipping Address Line 2"]=df["Shipping Address Line 2"].fillna("not provided")

In [17]:
bundles_cols=[
    "Combination Identifier",
    "Combination Description",
   "Bundle SKU Code Number"]
for col in bundles_cols:
    df[col]= df[col].fillna("not bundle")

In [21]:
shipping_cols=[
    "Delivery Time", 
"Shipping Courier" ,              
"Shipping Tracking Status",          
"Shipping Courier Status",
"Shipping provider",
"Tracking Number"]
for col in shipping_cols:
    df[col]=df[col].fillna("not shipped")

In [22]:
ops_cols = ["Dispatch Date",
"Batch Code",
"Vendor Batch Number",
"GSTIN",
"Invoice Code",
"Picklist Code",
"Invoice Created"]
for col in ops_cols:
    df[col]=df[col].fillna("not genrated")

In [24]:
df['tags']=df['tags'].fillna("no tag")

In [25]:
df.isnull().sum().sum()

np.int64(366)

In [27]:
df.fillna(0,inplace=True)

In [28]:
df.isnull().sum().sum()

np.int64(0)

In [29]:
df.duplicated().sum()

np.int64(0)